<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ProfessionalService",
  "@id": {{ .Site.BaseURL }},
  "name": "{{ .Site.Params.name }}",
  "logo": {{ print .Site.BaseURL "icons/favicon.svg" }},
  "image": [
    {{ print .Site.BaseURL "icons/favicon.svg" }},
    {{ print .Site.BaseURL "icons/logo_text_red.svg" }}
  ],
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "1200 River View Ave Apt 141",
    "addressLocality": "Stevens Point",
    "addressRegion": "WI",
    "postalCode": "54481",
    "addressCountry": "US"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 44.502885,
    "longitude": -89.5815615
  },
  "url": {{ .Site.BaseURL }},
  "telephone": "+17154460615",
  "priceRange": "$$",
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday"
      ],
      "opens": "00:00",
      "closes": "00:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Saturday",
        "Sunday"
      ],
      "opens": "08:00",
      "closes": "16:00"
    }
  ]
}
</script>
