<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ProfessionalService",
  "@id": {{ .Site.BaseURL }},
  "name": "{{ .Site.Params.name }}",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "1200 River View Ave Apt 141",
    "addressLocality": "Stevens Point",
    "addressRegion": "WI",
    "postalCode": "54481",
    "addressCountry": "US"
  },
  "areaServed": [
    {
      "@type": "State",
      "name": "Wisconsin",
      "sameAs": "https://en.wikipedia.org/wiki/Wisconsin"
    },
    {
      "@type": "City",
      "name": "Stevens Point",
      "sameAs": "https://en.wikipedia.org/wiki/Stevens_Point,_Wisconsin"
    },
    {
      "@type": "City",
      "name": "Wausau",
      "sameAs": "https://en.wikipedia.org/wiki/Wausau,_Wisconsin"
    },
    {
      "@type": "City",
      "name": "Marshfield",
      "sameAs": "https://en.wikipedia.org/wiki/Marshfield,_Wisconsin"
    },
    {
      "@type": "City",
      "name": "Wisconsin Rapids",
      "sameAs": "https://en.wikipedia.org/wiki/Wisconsin_Rapids,_Wisconsin"
    },
    {
      "@type": "City",
      "name": "Weston",
      "sameAs": "https://en.wikipedia.org/wiki/Weston,_Wisconsin"
    },
    {
      "@type": "City",
      "name": "Plover",
      "sameAs": "https://en.wikipedia.org/wiki/Plover,_Wisconsin"
    },
    {
      "@type": "City",
      "name": "Waupaca",
      "sameAs": "https://en.wikipedia.org/wiki/Waupaca,_Wisconsin"
    },
    {
      "@type": "City",
      "name": "Mosinee",
      "sameAs": "https://en.wikipedia.org/wiki/Mosinee,_Wisconsin"
    },
    {
      "@type": "City",
      "name": "Nekoosa",
      "sameAs": "https://en.wikipedia.org/wiki/Nekoosa,_Wisconsin"
    },
    {
      "@type": "City",
      "name": "Whiting",
      "sameAs": "https://en.wikipedia.org/wiki/Whiting,_Wisconsin"
    },
    {
      "@type": "City",
      "name": "Stratford",
      "sameAs": "https://en.wikipedia.org/wiki/Stratford,_Wisconsin"
    },
    {
      "@type": "City",
      "name": "Iola",
      "sameAs": "https://en.wikipedia.org/wiki/Iola,_Wisconsin"
    },
    {
      "@type": "City",
      "name": "Amherst",
      "sameAs": "https://en.wikipedia.org/wiki/Amherst,_Wisconsin"
    },
    {
      "@type": "City",
      "name": "Plainfield",
      "sameAs": "https://en.wikipedia.org/wiki/Plainfield,_Wisconsin"
    },
    {
      "@type": "City",
      "name": "Pittsville",
      "sameAs": "https://en.wikipedia.org/wiki/Pittsville,_Wisconsin"
    },
    {
      "@type": "City",
      "name": "Auburndale",
      "sameAs": "https://en.wikipedia.org/wiki/Auburndale,_Wisconsin"
    },
    {
      "@type": "City",
      "name": "Rosholt",
      "sameAs": "https://en.wikipedia.org/wiki/Rosholt,_Wisconsin"
    },
    {
      "@type": "City",
      "name": "Junction City",
      "sameAs": "https://en.wikipedia.org/wiki/Junction_City,_Wisconsin"
    },
    {
      "@type": "City",
      "name": "Rudolph",
      "sameAs": "https://en.wikipedia.org/wiki/Rudolph,_Wisconsin"
    }
  ]
}
</script>
