<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ProfessionalService",
  "@id": "{{ .Site.BaseURL }}",
  "name": "{{ .Site.Params.author }}",
  "logo": "{{ .Site.BaseURL }}/icons/favicon.svg",
  "image": [
    "{{ .Site.BaseURL }}/icons/favicon.svg",
    "{{ .Site.BaseURL }}/icons/logo_text_blue.svg"
  ],
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "4385 Sequoia Dr",
    "addressLocality": "Windsor",
    "addressRegion": "WI",
    "postalCode": "53598",
    "addressCountry": "US"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 43.218312,
    "longitude": -89.335493
  },
  "url": "{{ .Site.BaseURL }}",
  "telephone": "+16086181805",
  "priceRange": "$$",
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday"
      ],
      "opens": "08:00",
      "closes": "16:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Saturday",
        "Sunday"
      ],
      "opens": "00:00",
      "closes": "00:00"
    }
  ]
}
</script>
