<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="{{ .Site.Params.author }}">

<meta name="description" content='{{ if and .IsPage (eq .Section "reviews") }}{{ print "Stars: " .Params.stars " Review: " .Params.review }}{{ else if and .IsPage (eq .Section "photos") }}{{ .Params.alt }}{{ else }}{{ .Description | default .Site.Params.description }}{{ end }}'>
<title>{{ if (eq .Title "Home") }}Mobile Welding LLC - {{ .Params.longTitle }}{{ else if .Title }}{{ .Title }} - Mobile Welding LLC{{ else }}Mobile Welding LLC{{ end }}</title>

<meta name="theme-color" content="#96101E">
<link rel="icon" href="/icons/favicon.svg">
<link rel="mask-icon" href="/icons/mask-icon.svg" color="#96101E">
<link rel="apple-touch-icon" href="/icons/apple-touch-icon.png">
{{ partial "asset.html" (dict "file" "/manifest.json") }}

<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
{{ $aldrichFont := "family=Aldrich" }}
{{ $fontLink := printf "https://fonts.googleapis.com/css2?%s&display=swap" $aldrichFont }}
<link rel="preload" href="{{ $fontLink }}" as="style" type="text/css">

{{ partial "asset.html" (dict "file" "/css/style.css") }}

<link href="{{ $fontLink }}" rel="stylesheet">

{{ template "_internal/google_analytics_async.html" . }}
